<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>viewlayer.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>viewlayer.ControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAllAuthors</servlet-name>
        <servlet-class>viewlayer.getAllAuthors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAuthorByIdServlet</servlet-name>
        <servlet-class>viewlayer.GetAuthorByIdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAuthorServlet</servlet-name>
        <servlet-class>viewlayer.AddAuthorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAuthorServlet</servlet-name>
        <servlet-class>viewlayer.UpdateAuthorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAuthorServlet</servlet-name>
        <servlet-class>viewlayer.DeleteAuthorServlet</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>viewlayer.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAllAuthors</servlet-name>
        <url-pattern>/getAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAuthorByIdServlet</servlet-name>
        <url-pattern>/getById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAuthorServlet</servlet-name>
        <url-pattern>/addAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAuthorServlet</servlet-name>
        <url-pattern>/updateAuthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAuthorServlet</servlet-name>
        <url-pattern>/deleteAuthor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
